<%= form_for @drink do |f| %>
  <p>Name:</p>
  <%= f.text_field :name %>
  <p>Description</p>
  <%= f.text_area  :description%>
  <%= 'select ingredients option' %>
  <%= 'add to your favs button' %>
  <%= f.submit %>
<% end %>
