<h2>All Drinks</h2>
<p><%= link_to "Add a New Drink", new_drink_path %></p>

<%= form_tag '/drinks', method:'get' do %>
  <%= select_tag 'filter',options_for_select(['4+ ingredients', '3 or less ingredients']) ,include_blank: true %>
  <%= submit_tag 'Filter List' %>
<% end %>

<div class="col-sm-6">
  <% @drinks.each do |d| %>
    <p> <%= link_to d.name, drink_path(d), class:'d-disp', data: {id: "#{d.id}"}  %>
  </p>
  <% end %>
</div>

<div class="col-sm-6">
  <div id="drink-display">
    Displaying drinks here
  </div>
</div>
