<div class="bg-color">

  <h2>All Drinks</h2>
  <p><%= link_to "Add a New Drink", new_drink_path %></p>

  <%= form_tag '/drinks', method:'get' do %>
    <%= select_tag 'filter',options_for_select(['4+ ingredients', '3 or less ingredients']) ,include_blank: true %>
    <%= submit_tag 'Filter List', class:"btn btn-sm btn-outline-secondary" %>
  <% end %>

  <div class="row">
    <div class="col-6 drink_list">
      <% @drinks.each do |d| %>
        <p> <%= link_to d.name, drink_path(d)%> - <%= link_to "Quick View", '#', class:'d-disp', data: {id: "#{d.id}"}  %>
      </p>
      <% end %>
      <button class='alphabetize btn btn-outline-secondary'> Alphabetize List </button>

    </div>

    <div class="col-6">
      <div id="drink-display">
      </div>
    </div>
  </div>

</div>
