<h1><%= @drink.name %></h1>
<p><%= @drink.description %></p> <br>

<p>Ingredients: </p>
<% @drink.ingredients.each do |i| %>
  <p><%= link_to i.name, ingredient_path(i) %></p>
<% end %> <br>

<div>Reviews: </div>
<p><%= link_to "Add a Review", new_drink_review_path(@drink) %></p>
<br>

<% @drink.reviews.each do |r| %>
  <p><%= 'by ' + "#{r.user.name} , " + "#{r.rating}" + '/5' %></p>
  <p><%= r.content %></p>

<% end %>
