<p><%= link_to "Edit", edit_drink_path(@drink), id:'edit-d' %> | <%= link_to "Delete", "/drinks/#{@drink.id}", method: :delete, id:'del-d' %></p>

<% if @user %>
  <% if @user.drinks.index(@drink) < (@user.drinks.length - 1) %>
    <%= link_to "Next Drink on your List", '#', class: 'js-next', data:{id: "#{@user.id}", index:"#{@user.drinks.index(@drink)}", nest: "users"} %>
  <% end %>
<% end %>

<% if @ingredient %>
  <% if @ingredient.drinks.index(@drink) < (@ingredient.drinks.length - 1) %>
    <%= link_to "Next Drink with #{@ingredient.name}", '#', class: 'js-next', data:{id: "#{@ingredient.id}", index:"#{@ingredient.drinks.index(@drink)}", nest: "ingredients"} %>
  <% end %>
<% end %>


<h1 id='d-name'><%= @drink.name %></h1>

<p id='d-desc'><%= @drink.description %></p> <br>



<p>Ingredients: </p>
<div id="d-ings">
  <% @drink.drinks_ingredients.each do |di| %>
    <p><%= "#{di.parts} parts" %> <%= link_to di.ingredient.name, ingredient_path(di.ingredient) %></p>
  <% end %>
</div>

<br>

<div>Reviews: </div>
<p><%= link_to "Add a Review", new_drink_review_path(@drink), id:'add-rev' %></p>

<%= render partial: 'layouts/review_table', locals: {reviews: @drink.reviews, index: false} %>
