<p><%= link_to "Edit", edit_drink_path(@drink) %> | <%= link_to "Delete", "/drinks/#{@drink.id}", method: :delete %> </p>
<h1><%= @drink.name %></h1>

<p><%= @drink.description %></p> <br>



<p>Ingredients: </p>
<% @drink.ingredients.each do |i| %>
  <p><%= link_to i.name, ingredient_path(i) %></p>
<% end %>

<br>

<div>Reviews: </div>
<p><%= link_to "Add a Review", new_drink_review_path(@drink) %></p>
<br>

<% @drink.reviews.each do |r| %>
  <p><%= 'by ' + "#{r.user.name} , " + "#{r.rating}" + '/5' %></p>
  <p><%= r.content %></p>
  <% if r.user == current_user %>
    <p><%= link_to "Edit Review", edit_review_path(r) %></p>
  <% end %>

<% end %>
