<p><%= link_to "Edit", edit_drink_path(@drink) %> | <%= link_to "Delete", "/drinks/#{@drink.id}", method: :delete %> </p>

<p><%= link_to "Next Drink with #{@ingredient.name}", '#', class: 'js-next', data:{id:"#{@ingredient.drinks.index(@drink)}"} %></p>
<h1><%= @drink.name %></h1>

<p><%= @drink.description %></p> <br>



<p>Ingredients: </p>
<% @drink.drinks_ingredients.each do |di| %>
  <p><%= "#{di.parts} parts" %> <%= link_to di.ingredient.name, ingredient_path(di.ingredient) %></p>
<% end %>

<br>

<div>Reviews: </div>
<p><%= link_to "Add a Review", new_drink_review_path(@drink) %></p>

<%= render partial: 'layouts/review_table', locals: {reviews: @drink.reviews, index: false} %>
