<body class='background-root'>
  <h1>Sign Up</h1>

  <%= render partial:'layouts/errors_expl', locals: {var: @user} %>

  <%= form_for @user do |f| %>
    <div class="field<%= ' field_with_errors' if @user.errors[:name].any? %>">
      <p>Username: <%= f.text_field :name %></p>
    </div>
    <div class="field<%= ' field_with_errors' if @user.errors[:password].any? %>">
      <p>Password: <%= f.password_field :password %></p>
    </div>
    <%= f.submit %>
  <% end %>
  <%= link_to "Login with Facebook", '/auth/facebook'%>
  <i class="fa fa-search"></i>
</body>
