<h1>Sign Up</h1>

<%= render partial:'layouts/errors_expl', locals: {var: @user} %>

<%= form_for @user do |f| %>
  <p>Username: <%= f.text_field :name %></p>
  <p>Password: <%= f.password_field :password %></p>
  <%= f.submit %>
<% end %>


<%# class="field <%= 'field_with_errors' if @post.errors[:name].any? %>" %>
