<div class="bg-color">

<h1>Edit Ingredient</h1>

<%= render partial:'layouts/errors_expl', locals: {var: @ingredient} %>

<%= form_for @ingredient do |f| %>
  <div class="field<%= ' field_with_errors' if @ingredient.errors[:name].any? %>">
    <div>Name:</div>
    <p><%= f.text_field :name , class:"form-input"%></p>
  </div>

  <div>Description:</div>
  <p><%= f.text_area :description , class:"form-input"%></p>
  <%= f.submit "Update Ingredient", class:"btn btn-secondary"%>
<% end %>

</div>
