<h2>Write a review: </h2>

<%= form_for @review do |f| %>

  <%= render partial:'form', locals: {f: f} %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :drink_id, value: @drink.id %>

  <%= f.submit %>
<% end %>
