<table>
  <thead>
    <th>Rating</th>
    <th>Content</th>
    <th>Author</th>
  </thead>
  <tbody>
    <% reviews.each do |r| %>
      <tr>
        <td><%= "#{r.rating}" + '/5' %></td>
        <td><%= r.content %></td>
        <td><%= r.user.name%>

          <% if r.user == current_user %>
            <p><%= link_to "Edit", edit_review_path(r) %>  | <%= link_to "Delete", "/reviews/#{r.id}", method: :delete %></p>
          <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
