<!DOCTYPE html>
<html>
  <head>
    <title>MyBar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <%= link_to 'MyBar', root_path , class:'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if session[:user_id] %>
            <li class="nav-item">
              <%= link_to 'Your Profile', user_path(current_user), class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Drink Index', drinks_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Ingredient Index', ingredients_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', logout_path, class:'nav-link'%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log In', new_session_path, {class: 'nav-link'} %>
            </li>
          <% end %>
        </ul>
      </div>

    </nav>


    <div class='container' role='main'>

      <% if flash[:error] %>
        <div class="alert alert-warning">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
