<!DOCTYPE html>
<html>
  <head>
    <title>MyBar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <%= link_to 'MyBar', root_path , class:'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
            <% if session[:user_id] %>
              <%= link_to 'Your Profile', user_path(current_user), class:'navbar-brand' %>
              <%= link_to 'Drink Index', drinks_path, class:'navbar-brand' %>
              <%= link_to 'Ingredient Index', ingredients_path, class:'navbar-brand' %>
              <%= link_to 'Log Out', logout_path, class:'navbar-brand'%>


            <% else %>
            <span class ="navbar-nav mr-auto">
              <span class="nav-item active">
                <%= link_to 'Sign Up', new_user_path, class:'nav-link' %>

              </span>
            </span>

              <%= link_to 'Log In', new_session_path, {class: 'navbar-brand'} %>
            <% end %>

    <div class='container' role='main'>

      <% if flash[:error] %>
        <div class="alert alert-warning">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
